/graphic/assets/images
/external/
#assets/textures
#assets/models

# OS junk
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDEs/editors
.idea/
.vscode/
*.swp
*~

# Build artifacts
/build/
bin/
obj/
*.o
#*.obj
*.so
*.dll
*.dylib
*.exe
*.out
.vs
out/
# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt

# Logs
*.log

# Other
*.tmp